* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #283d3b;
    background-color: #edddd4;
    line-height: 1.6;
    align-items: center;
    margin: 0;

}

/*Header styling*/
header {
    background-color: #003366;
    padding: 2rem;
    text-align: center;
    width: 100%;
    color: #D9D9D9;
}

/* Footer styling*/
footer {
    display: flow-root;
    padding: 2rem;
    background-color: #003366;
    text-align: center;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    background-color: #003366;
    padding: 9px;
    height: 60px;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
}

.logo h4 {
    margin-left: 10px;
    color: #D9D9D9;
}

.navli {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    flex-grow: 1;
}

.nav ul li {
    margin: 0 1rem;

}

.navli ul li a {
    display: block;
    padding: 0.2em 2em;
    font-family: sans-serif;
    text-decoration: none;
    color: #D9D9D9;


}


.navli ul li a.active {
    background-color: #afb8cf;
    color: #003366
}

.navli ul li a:hover {
    color: #D9D9D9;
    background-color: #72784a;
}




/*C.V button in nav ul style */
.CV button {
    background-color: #878080;
    position: absolute;
    right: 5px;
    align-self: center;
    top: 10px;
    color: #D9D9D9;
    border: none;
    padding: 10px 20px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
}

.CV button:hover {
    background-color: #003366;
    width: 10%;
}

/*for menu iucon*/
.menu-icon {
    display: none;
    flex-direction: column;

}

/*menu icon styling*/
.menu-icon div {
    width: 30px;
    height: 3px;
    background-color: #edddd4;
    margin: 5px;
}


/* Main Section Styling */
main {
    margin: 0;
    border: 5rem;
    max-width: 1200px;
    width: 100%;
    display: contents;
    align-items: center;

}

/* General Section Styling */
section {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 50px;
    background: linear-gradient(#003366, #003366),
        url('https://source.unsplash.com/random/1600x900') center/cover no-repeat;
    border-radius: 15px;

    color: #D9D9D9;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Hover effect */
section:hover {
    transform: scale(1.03);

}


.homepage img {
    width: 60%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 12px;
}

/* Hover effect */
.homepage:hover img {
    transform: scale(1.1);
    filter: brightness(80%);
}

h1,
h2,
h3 {
    color: #D9D9D9;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
}

h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

p {
    font-size: 1rem;
    color: #D9D9D9;
}

/*About me styling*/
.aboutMe ul {
    list-style: inside circle;
    margin: 1rem 0;
    padding-left: 20px;
    text-align: left;
}

.homepage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


    gap: 1.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    text-align: center;

}



/* Center Align All Items in Sections */
.aboutMe,
.projects,
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aboutMe ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: upper-roman;
}

.skills ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

/* Project Grid */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}



/* Project Items */
.project-item {
    border: 3px solid #2f37c0;
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;

    background-color: #838383;
}

/*Project image*/
.project-item img {
    max-width: 100%;
    border-radius: 4px;
}

/*Project tags*/
.project-tags {
    color: #D9D9D9;
    margin-top: 10px;
}

/*project tags span*/
.project-tags span {
    display: inline-block;
    background-color: #007D94;
    color: #D9D9D9;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
}

.project-item h3 {
    color: #D9D9D9;
}

/* Contact Section */
.contact form {
    display: flex;
    flex-direction: column;
    width: 350px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #838383;
    padding: 2rem;
    border-radius: 8px;

}

.contact label {
    margin-top: 1rem;
    font-weight: bold;
    color: #D9D9D9;
}

.contact input,
.contact textarea {
    padding: 0.7rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.contact button {
    margin-top: 1.5rem;
    padding: 0.8rem 1.2rem;
    background-color: #878080;
    /* Coral Red */
    color: #D9D9D9;
    /* Light Beige text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.contact button:hover {
    background-color: #0056b3;
    /* Dark Brownish-Red on hover */
}

.contact-info {
    margin-top: 30px;
}

/*Social icons styling*/
.social {
    align-items: center;
    margin-top: 12px;
    margin-bottom: 30px;
}

/* Scroll Button */
#scroll {
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 100px;
    right: 0;
    background-color: #878080;
    color: #D9D9D9;
    border: none;
    padding: 12px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#scroll:hover {
    background-color: #0056b3;
    /* Darken on hover */
}



/* Responsive Design */
@media (max-width: 800px) {

    /*project grid style*/
    .project-grid {
        grid-template-columns: 1fr;
    }

    .homepage {
        flex-direction: column;
        align-items: center;
    }

    .img {
        max-width: 100%;

        margin-top: 2rem;
    }

    section {
        padding: 30px;
        margin: 30px auto;
    }

    .contact form {
        max-width: 300px;
    }

    /*C.V button style */
    .CV button {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 256px;
        align-items: center;
        left: 0;
        right: 0;
        border-radius: 0;
        justify-content: center;
    }

    .CV button:hover {
        padding: 0;
        width: 100%;
    }

    /*nav list style*/
    .navli ul {
        display: none;
    }

    .navli ul.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 50%;
        width: 50%;
        background-color: #283d3b;
        text-align: center;
        gap: 20px;
        padding-bottom: 50px;
    }


    /*Menu icon*/
    .menu-icon {
        display: flex;
        position: fixed;
        right: 9px;
    }

    #scroll {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 119px;
        right: 0%;
        background-color: #007BFF;
        /* Default Blue */
        color: #D9D9D9;
        border: none;
        padding: 16px 16px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

}